<div class="flex flex-col w-full">
  <p class="">
    A student developer in the San Francisco Bay Area, I'm
    <span class="italic">driven</span> to create impactful solutions at the
    intersection of web development and artificial intelligence. My focus is on
    crafting user-centric applications that integrate with human intuition.
  </p>

  <p class="mt-4">
    <span class="font-bold text-primary">My Tech Journey:</span> Fueled by the
    latest advancements in AI, I <span class="italic">strive</span>
    to develop intuitive and intelligent solutions that elevate user experiences
    on the web. I'm energized by the potential to push the boundaries of
    technology through innovative programming.
  </p>

  <p class="mt-4">
    <span class="font-bold text-primary">Beyond the Code:</span> I believe in
    the power of a <span class="italic"></span>well-rounded life to fuel
    creative thought. My curiosity extends beyond technology, from exploring
    diverse cultures through travel to experiencing the spectrum of human
    expression through music. My interests range from making music through piano
    and playing volleyball, to reading philosophy epistemology and metaphysics.
  </p>

  <p class="mt-4">
    Explore my
    <span class="text-blue-700 underline hover:cursor-pointer"
      ><a href="/projects">projects.</a></span
    >
  </p>
</div>
