<div class="flex flex-col w-full">
    <p class="mb-4 text-right text-gray-700">a collection of websites I've made demonstrating user-centered designs and responsive layouts.</p>
    <div>
        <p class=""><a class="underline text-blue-700" href="https://www.cognitiolearning.com/">Cognitio Learning</a>: </p>
        <p class=" text-gray-700">A website built to support Cognitio Learning's mission of providing engaging coding education to elementary/middle schoolers.</p>
        <p class="mb-2 text-gray-500">Built with Next.js, TailwindCSS, shadcn/ui</p>
    </div>

    <div>
        <p class=""><a class="underline text-blue-700" href="https://www.seedinitiative.net/">Seed Initiative</a></p>
        <p class=" text-gray-700">A CMS-included website for the Seed Initiative, a non-profit organization that introduces science bowl to middle school students.</p>
        <p class="mb-2 text-gray-500">Built with Next.js, TailwindCSS, shadcn/ui, PayloadCMS, gsap</p>
    </div>

    <div>
        <p class=""><a class="underline text-blue-700" href="#">This Website</a></p>
        <p class=" text-gray-700">My personal corner of the internet, a platform dedicated to documenting my development journey alongside hobbies, writing, and other pursuits.</p>
        <p class="mb-2 text-gray-500">Built with express, EJS, TailwindCSS</p>
    </div>

</div>